<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register - Expense Manager</title>
</head>
<body>
    <h1>Register</h1>
    <hr/>
    <form th:object="${user}" th:action="@{/register}" method="post">
        <input type="text" th:field="*{name}" placeholder="Enter name">
        <br><br>
        <input type="email" th:field="*{email}" placeholder="Enter email">
        <br><br>
        <input type="password" th:field="*{password}" placeholder="Enter password">
        <br><br>
        <input type="password" th:field="*{confirmPassword}" placeholder="Enter confirm password">
        <br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>